#########################################################################################################
# pyc
#########################################################################################################
__pycache__
*.pyc


#########################################################################################################
# pretrain model
#########################################################################################################
pretrained_models/


#########################################################################################################
# Link
#########################################################################################################
dataset_2021/Link/data_2*/augmentation/
dataset_2021/Link/data_2*/image/


#########################################################################################################
# Deetas
#########################################################################################################
### image
dataset_2021/Deetas/data_2*/image/
dataset_2021/Deetas/image_all/
dataset_2021/Deetas/image_whole/
dataset_2021/Deetas/image_integrated/

### processed data
dataset_2021/Deetas/data_22*/json_JSM/
dataset_2021/Deetas/data_22*/json_MaskRCNN/
dataset_2021/Deetas/data_22*/json_MaskRCNN_small/
dataset_2021/Deetas/data_22*/json_ConvLSTM/

### trained model
dataset_2021/Deetas/output_action_classifier/ex_*/model/
dataset_2021/Deetas/output_Mask_RCNN/generated_mask/

### log
dataset_2021/Deetas/output_Mask_RCNN/print_log/
dataset_2021/Deetas/output_Mask_RCNN/logs/

### trained model
dataset_2021/Deetas/output_action_classifier/ex_*_ConvLSTM_mini/